span{
	font-weight: bold;
}
img{
	width: 100%;
}
.movie-thumbnail{
	position: relative;
}
.hover-display{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: hidden;
}
.movie-thumbnail:hover .hover-display{
	display: block;
}