html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    padding-top: 70px;
}
#nav-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 70px;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    line-height: 1.5;
}
#logo {
    position: absolute;
    left: 30px;
    text-decoration: none;
    font-size: 1.8em;
    color: black;
    top: 10px;
}
#nav-bar {
    position: absolute;
    top: 20px;
    right: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-option {
    float: left;
    width: 100px;
}
.nav-option a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}
#current-page {
    color: grey;
}
.nav-option:hover a {
    color: grey;
}
#border {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 3em;
    letter-spacing: 4px;
    opacity: 1;
}
#nav-container a {
    font-family: 'Lora', serif;
}