@charset "ISO-8859-1";

html,body {padding:0; margin:0; height:100%; width:100%;}

body{
	font-family:Helvetica;
	text-align:left;
}
#image{
	height:90px;
}
header{
	height:100px;
	border-bottom:2px solid;
	border-bottom-color:#F6F6F6;
}
.main{
	background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
	  url("images/background.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:calc(100% - 103px);
	width:100%;
}
h1{
	color:#DFDFDF;
	position:fixed;
	top:40%;
	left:10%;
}
.form1{
	color:white;
	position:fixed;
	width:80%;
	top:50%;
	left:10%;
}
.form2{
	color:grey;
	position:relative;
	left:200px;
	top:-50px;
}
#isbn{
	margin-left:420px;
}
#pub{
	margin-left:415px;
}
#search{
	width:100%;
}
#button{
	float:right;
	background: #000000;
	color:white;
	border-color:grey;
	border-width:thin;
}
.input1{
	position:relative;
	top:10px;
}
.input2{
	position:relative;
	left:320px;
	bottom:20px;
}
#isbn2{
	margin-left:150px;
}
#pub2{
	margin-left:145px;
}
#search2{
	width:22%;
	position:relative;
	top:10px;
	right:10px;
}
#button2{
	float:right;
	background:grey;
	border-color:grey;
	border-width:thin;
	height:30px;
	width:35px;
	margin-right:150px;
	position:relative;
	top:-75px;
	right:950px;
}
#name2{
	margin-left:200px
}
#author2{
	margin-left:200px
}
th, td{
	border-bottom:1px solid #ddd;
	left-align:left;
}
p{
	font-weight:normal;
	left-align:left;
}